h1 {
    font-family: 'Berkshire Swash', cursive;
    color: aliceblue;
    font-size: 50pt;
    text-shadow: 4px 4px 6px #301d0b;
}

p {
    font-family: 'Berkshire Swash', cursive;
    color: azure;
    text-align: center;
    font-size: 14pt;
    text-shadow: 10px 10px 10px #301d0b;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #948597;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/Background_Bar.jpg);
}


.instruments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  
}

.characters {
  background-color: #302115;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.instrument {
  background-color: #6d6e79e3;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  padding: 30px;
}

.character {
   background-color: #d1974a;
  border-radius: 50px; 
  height: 150px;
  width: 150px;
  cursor: pointer;
  opacity: 0.5;
}

.character.active {
  opacity: 1;
}

.character img {
  height: 100%;
  width: 100%;
}
    
#play-button img,
#pause-button img,
#stop-button img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#controls {
    background-color: #413529ef;
    border-radius: 10PX;
}

.no-reorder {
  transition: none !important;
  will-change: transform !important;
}
